@using DailyApartmentsMVC.Models.GuestModel
@model List<DailyApartmentsMVC.Models.GuestModel.BookingsArchive>
@{
    ViewData["Title"] = "Details";
}

<div class="container mt-4">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#active" aria-selected="false" role="tab" tabindex="-1">Активні</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link active" data-bs-toggle="tab" href="#archive" aria-selected="true" role="tab">Архів</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content mt-3">
        @*ACTIVE*@
        <div class="tab-pane fade" id="active" role="tabpanel">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Назва</th>
                        <th scope="col">Дата заселення</th>
                        <th scope="col">Дата виїзду</th>
                        <th scope="col">Ім'я власника</th>
                        <th scope="col">Ціна</th>
                        <th scope="col">Статус</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                @{
                    int i = 0;
                }
                @foreach (var b in Model)
                {
                    DateTime dt = new DateTime(b.Date.Value.Year, b.Date.Value.Month, b.Date.Value.Day, 0, 0, 0, DateTimeKind.Unspecified);
                    string disabled = DateTime.Now < dt.AddDays(-1).AddHours(14) ? "" : "disabled";

                    string ttype;
                    if (b.Status == null)
                    {
                        ttype = "table-warning";
                    }
                    else if (b.Status == true)
                    {
                        ttype = "table-success";
                    }
                    else
                    {
                        ttype = "table-danger";
                    }
                    if (DateTime.Now <= dt.AddDays((double)b.Duration))
                    {
                        <tr class="@ttype">
                            <td>@b.Title</td>
                            <td>@dt.ToString("D")</td>
                            <td>@dt.AddDays((double)b.Duration).ToString("D")</td>
                            <td>@b.OwnerName @b.OwnerSurname</td>
                            <td><b>$ @b.Price</b></td>
                            @if (b.Status == null)
                            {
                                <td>Очікує підтвердження</td>
                            }
                            else if (b.Status == true)
                            {
                                <td>Підтверджено</td>
                            }
                            else
                            {
                                <td>Відмінено</td>
                            }
                            @if (b.Status == null || b.Status == true)
                            {
                                <td>
                                    @if (DateTime.Now < dt.AddDays(-1).AddHours(14))
                                    {
                                        <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="@String.Concat("#cancel", i)">Відмінити</a>
                                    }
                                    <div class="modal fade" id="@String.Concat("cancel", i++)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Ви точно бажаєте відмінити бронювання?</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Бронювання можна відмінити за 24 години до поселення. Поселення відбувається після 14.00
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
                                                    <a class="btn btn-danger" asp-action="Cancel" asp-route-id="@b.Id">Відмінити</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            }
                            else
                            {
                                <td></td>
                            }
                        </tr>
                    }
                }
            </table>
            <h6 class="mt-4">*Відмінити бронювання можна лише за 24 години до заселення.</h6>

        </div>
        @*ARCHIVE*@
        <div class="tab-pane fade active show" id="archive" role="tabpanel">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Назва</th>
                        <th scope="col">Дата заселення</th>
                        <th scope="col">Дата виїзду</th>
                        <th scope="col">Ім'я власника</th>
                        <th scope="col">Ціна</th>
                        <th scope="col">Статус</th>
                    </tr>
                </thead>

                @{
                    i = 0;
                }
                @foreach (var b in Model)
                {
                    DateTime dt = new DateTime(b.Date.Value.Year, b.Date.Value.Month, b.Date.Value.Day, 0, 0, 0, DateTimeKind.Unspecified);
                    bool status = b.Status ?? false;
                    string ttype = status ? "table-primary" : "table-danger";
                    if (DateTime.Now > dt.AddDays((double)b.Duration))
                    {
                        <tr class="@ttype">
                            <td>@b.Title</td>
                            <td>@dt.ToString("D")</td>
                            <td>@dt.AddDays((double)b.Duration).ToString("D")</td>
                            <td>@b.OwnerName @b.OwnerSurname</td>
                            <td><b>$ @b.Price</b></td>
                            @if (status)
                            {
                                <td>Успішно</td>
                            }
                            else
                            {
                                <td>Відмінено</td>
                            }
                            <td class="text-end">
                                <a class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="@String.Concat("#details", i)">Деталі</a>

                                <div class="modal fade text-start" id="@String.Concat("details", i)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Деталі</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">

                                                <form>
                                                    <div class="form-group mb-3">
                                                        <label>Назва</label>
                                                        <input type="text" class="form-control" readonly value="@b.Title" />
                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <label>Місцезнаходження</label>
                                                        <input type="text" class="form-control" readonly value="@b.Country, @b.City, @b.Street @b.House" />
                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <label>Дата перебування:</label>
                                                        @{
                                                            DateTime start = new DateTime(b.Date.Value.Year, b.Date.Value.Month, b.Date.Value.Day);
                                                            DateTime end = start.AddDays((double)b.Duration);
                                                        }
                                                        <input type="text" class="form-control" readonly value="@start.ToString("D") - @end.ToString("D")" />
                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <label>Власник</label>
                                                        <input type="text" class="form-control" readonly value="@b.OwnerName @b.OwnerSurname" />
                                                    </div>

                                                    <div class="d-flex justify-content-between">
                                                        <div class="form-group mb-3">
                                                            <label>Вартість за ніч</label>
                                                            <input type="text" class="form-control" readonly value="$ @b.Price" />
                                                        </div>
                                                        <div class="form-group mb-3">
                                                            @{
                                                                var price = b.Price.GetValueOrDefault();
                                                                decimal overall = price * b.Duration.GetValueOrDefault();
                                                            }
                                                            <label><b>Усього</b></label>
                                                            <input type="text" class="form-control fw-bold" readonly value="$ @overall" />
                                                        </div>
                                                    </div>
                                                </form>




                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
                                                @*<a class="btn btn-danger" asp-action="Cancel" asp-route-id="@b.Id">Відмінити</a>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <a class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="@String.Concat("#review", i)">Відгук</a>

                                <div class="modal fade text-start" id="@String.Concat("review", i++)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Залиште відгук</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">

                                                <form method="post" asp-action="SendReview" asp-route-id="@b.Id">
                                                    <h5>Рейтинг</h5>

                                                    @if (ViewBag.ReviewAttributes is List<string> lst)
                                                    {
                                                        
                                                        List<ShowGuestReview> reviewLst = ViewBag.Reviews as List<ShowGuestReview>;
                                                        reviewLst = reviewLst?.Where(r => r.BookingId == b.Id).ToList();
                                                        bool disabled = reviewLst.Count() == 0 ? false : true;

                                                        <table>
                                                            @for (int j = 0; j < lst.Count(); j++)
                                                            {
                                                                int cur = 0;
                                                                if (reviewLst != null)
                                                                {
                                                                    cur = reviewLst.FirstOrDefault(r => r.ReviewAttributeId == j + 1)?.Value ?? 0;
                                                                }

                                                                <tr>
                                                                    <td><p style="margin-bottom: 0; margin-right:3em;">@lst[j]</p></td>
                                                                    <td>

                                                                        <div class="rate">
                                                                            <input type="radio" 
                                                                                id="star5_@j" 
                                                                                name="rates[@j]"
                                                                                value="5" 
                                                                                @(disabled ? "disabled" : "") 
                                                                                @(cur == 5 ? "checked" : "") />
                                                                            <label class="@(disabled ? "disabled" : "")" for="star5_@j" title="text">5 stars</label>

                                                                            <input type="radio" 
                                                                                id="star4_@j" 
                                                                                name="rates[@j]"
                                                                                value="4" 
                                                                                @(disabled ? "disabled" : "") 
                                                                                @(cur == 4 ? "checked" : "") />
                                                                            <label class="@(disabled ? "disabled" : "")" for="star4_@j" title="text">4 stars</label>

                                                                            <input type="radio" 
                                                                                id="star3_@j" 
                                                                                name="rates[@j]"
                                                                                value="3" 
                                                                                @(disabled ? "disabled" : "") 
                                                                                @(cur == 3 ? "checked" : "") />
                                                                            <label class="@(disabled ? "disabled" : "")" for="star3_@j" title="text">3 stars</label>

                                                                            <input type="radio" 
                                                                                id="star2_@j" 
                                                                                name="rates[@j]"
                                                                                value="2" 
                                                                                @(disabled ? "disabled" : "")
                                                                                @(cur == 2 ? "checked" : "") />
                                                                            <label class="@(disabled ? "disabled" : "")" for="star2_@j" title="text">2 stars</label>

                                                                            <input type="radio" 
                                                                                id="star1_@j" 
                                                                                name="rates[@j]" 
                                                                                value="1" 
                                                                                @(disabled ? "disabled" : "") 
                                                                                @(cur == 1 ? "checked" : "") />
                                                                            <label class="@(disabled ? "disabled" : "")" for="star1_@j" title="text">1 star</label>

                                                                        </div>


                                                                        @*<div class="rate">
                                                                            <input 
                                                                                   type="radio" id="star5_@j" 
                                                                                   name="rates[@j]" 
                                                                                   value="5" />
                                                                            <label for="star5_@j" title="text">5 stars</label>
                                                                            <input 
                                                                                   type="radio" id="star4_@j" 
                                                                                   name="rates[@j]" 
                                                                                   value="4" />
                                                                            <label for="star4_@j" title="text">4 stars</label>
                                                                            <input 
                                                                                   type="radio" 
                                                                                   id="star3_@j" 
                                                                                   name="rates[@j]" 
                                                                                   value="3"  />
                                                                            <label for="star3_@j" title="text">3 stars</label>
                                                                            <input
                                                                                   type="radio" 
                                                                                   id="star2_@j" 
                                                                                   name="rates[@j]" 
                                                                                   value="2"  />
                                                                            <label for="star2_@j" title="text">2 stars</label>
                                                                            <input 
                                                                                   type="radio" 
                                                                                   id="star1_@j" 
                                                                                   name="rates[@j]" 
                                                                                   value="1" />
                                                                            <label for="star1_@j" title="text">1 star</label>
                                                                        </div>*@
                                                                    </td>
                                                                </tr>

                                                            }
                                                        </table>
                                                    }
                                                    <hr>
                                                    <h5 class="mt-3 mb-2">Коментар</h5>
                                                    <textarea name="comment" class="form-control w-100 mb-4" rows="3" style="border: 1px solid #ccc;"></textarea>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
                                                        <button type="submit" id="send-review-btn" class="btn btn-success">Надіслати</button>
                                                    </div>
                                                </form>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    }
                }

            </table>
        </div>
    </div>
</div>


@*TOOLTIP*@
<script>
    $(document).ready(function () {
        $('[data-bs-toggle="tooltip"]').tooltip();
    });
</script>